{% extends "padre.html" %}

{%  load static %}


{% block contenido %}

 <!-- Projects-->
 <section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'app_turnos/assets/img/1.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Entrenador de Running</h4>
                    <p class="text-black-50 mb-0">Profesores a domicilio de running.</p>
                <p>Te esperamos a que vengas a entrenar con nosotros,

                    Contamos con 3 sedes en puntos estratégicos de la ciudad de Buenos Aires donde el aire libre y la gente del grupo te acompañarán en cada momento de este desafío.
                    Alto Rendimiento - Fondo-Medio fondo - Maratón - Medio Maratón - Trail</p>
                </div>
            </div>
        </div>
       
        </div>
        
    </div>
</section>
<div class="social d-flex justify-content-center">
    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
</div>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; EntrenadordeRunning 2022</div>
</footer>
{% endblock %} 