

{% extends "padre.html" %}

{%  load static %}


{% block contenido %}
<section class="projects-section bg-light" id="projects"></section>
 <!-- Project One Row-->
 <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="{% static 'app_turnos/assets/img/7.jpg' %}" alt="..." /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    
                    <p></p>
                    <p class="mb-0 text-white-50">
                       
                        
                            <h2 class="display-4">Resultado de Busqueda</h2>
                    
                            {% if turno %}
                       
                            <table class="table" style="color: #ffffff ;">
                                <thead>
                                    <tr>
                                    <th scope="col">Nombre:</th>
                                    <th scope="col">Domicilio</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for turno in turno %}
                                <tr>
                                  <th scope="row">{{turno.nombre}}</th>
                                  <th scope="row"> {{turno.domicilio}}</th>
                                 </tr>
                            {% endfor %}
                            
                            {% else %}
                            <tr> <th scope="row">No se encontraron turnos</th>
                            {% endif %}
                            </tr>
                            </tbody>
                        </table>
                                                   
                     
                    </p>
                    <hr class="d-none d-lg-block mb-0 ms-0" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="social d-flex justify-content-center">
    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
</div>
</div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; EntrenadordeRunning 2022</div></footer>              
</div>
        </section>
        <!-- Footer-->
{% endblock %}  